<!DOCTYPE html>
<html>
<head>
    <title>Audio List</title>
</head>
<body>
    <h2>Audio List</h2>
    <ul>
        {% for audio in audios %}
            <li>{{ audio.title }} - <a href="{{ audio.audio.url }}">Listen</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'audioapp:upload_audio' %}">Upload new audio</a>
    <form method="post" action="{% url 'audioapp:analyze_audio' %}">
        {% csrf_token %}
        <button type="submit">Analyze Audio</button>
    </form>
</body>
</html>
