@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: auto;
}

footer {
  color: #ccc;
  text-align: center;
  margin-top: 20px;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer img.logo {
  width: 100px;
  margin-bottom: 10px;
}
