/* styles/globals.css */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/pretendardVariable.woff2') format('woff2');
  font-weight: 100 900; /* 가중치 범위를 정의할 수 있습니다 */
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Tailwind CSS의 기본 sans-serif 폰트 설정을 사용합니다 */
  font-family: 'Pretendard', sans-serif; /* Pretendard를 기본 폰트로 설정 */
}
.glowing-border {
    animation: subtle-glow 1.5s infinite alternate;
  }
  
  @keyframes subtle-glow {
    from {
      box-shadow: 0 0 5px #ff6666, 0 0 10px #ff6666, 0 0 15px #ff6666;
    }
    to {
      box-shadow: 0 0 10px #ff9999, 0 0 20px #ff9999, 0 0 30px #ff9999;
    }
  }
  