/* styles/start.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: #fff;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.logo2 {
  width: 30%;
  height: 30%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 210px;
  color: black;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.description {
  font-size: 1.5rem;
  margin: 20px 0;
  margin-bottom: 70px;
  font-weight: bold;
}

.intro {
  margin-top: 40px; /* Margin to separate from the content */
  /* padding: 250px; */
  text-align: center;
  color: black;
  margin-bottom: 40px;
  white-space: nowrap;
}

.intro h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro p {
  font-size: 1.2rem;
  font-weight: bold;
}

.bottom {
  display: contents;
  color: black;
  /* text-align: center; */
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
}

.faq h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}